footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.backimg {
  position: absolute;
  background-size: cover;
}

.welcome {
  position: relative;
  color: white;
  padding: 10%;
  font-size: 100px;
  text-align: center;
  text-shadow: 5px 5px 5px black;
  cursor: default;
  flex-wrap: wrap;
  display: flex;
}

.block {
  display: grid;
  justify-content: center;
}

.books {
  display: grid;
  justify-content: center;
  text-align: center;
}

.night-activated {
  background-color: rgba(0, 0, 0, 0.96);
}

.night-activated p {
  color: white;
}

.night-activated h1 {
  color: white;
}

.night-activated .header-top {
  background-color: darkgreen;
}

.night-activated button {
  background-color: black;
  border: 1px solid white;
  color: white;
}



@media screen and (max-width: 640px) {

  .books {
    display: block;
  }

  .book {
    width: 100%;
  }
}